// ШРИФТЫ
$font-main: 'Roboto Condensed', sans-serif;
// ШРИФТЫ

// ЦВЕТА САЙТА
$dark: #878787;
$black: #202022;
$white: #fff;
$gray: #CACACA;
$slyblue: #00BBC9;
$darkblue: #00747C;
// ЦВЕТА САЙТА
